html {
  height: 100%;
  width: 100%;
}

body{
  background-color: #920213;
  color: white;
}

img{
  display: none;
}

audio{
  display:none;
}

canvas{
  border: 2px solid black;
  height: 400px;
  width: 600px;
}

#d1{
  display: block;
}

#b2{
  display:flex;
}